<div class='row nested-fields'>
	<div class='col s2'>
		<p id="pig-num">Pig: 1</p>
		<%# link_to_remove_association "Remove Pig", f, class: 'waves-effect waves-teal btn-flat' %>
	</div>
	<div class='col s4'>
		<%# f.input :ear_notch_number%>
		<%= f.object.ear_notch_number%>
	</div>
	<div class='col s3'>
		<%= f.input :sex, as: :select, collection: ["M", "F"] %>
	</div>
	<div class='col s3'>
		<%= f.input :birth_weight %>
	</div>
	
</div>