<div class="divider pig-divider"></div>
<div class='row nested-fields'>
	<div class='col s5'>
		<p id="pig-num">Ear notch number: <span class="ear-notch">1</span></p>
		<%# link_to_remove_association "Remove Pig", f, class: 'waves-effect waves-teal btn-flat' %>
	</div>
	<div class='col s3'>
		<%= f.input :sex, as: :select, collection: ["M", "F"] %>
	</div>
	<div class='col s4'>
		<%= f.input :birth_weight %>
	</div>
</div>
