
<div class='nested-fields'>
	<td>
		<%= f.input :weaning_weight, label: '' %>
	</td>
	<td>
		<%= f.input :date_weaned, as: :string, input_html: {type: :date, value: f.object.date_weaned}, label: '', value: f.object.date_weaned%>
	</td>
</div>
