// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require cocoon
//= require jquery_ujs
//= require materialize-sprockets
//= require turbolinks
//= require_tree .

$(document).ready(function(){
	//change SVG icons to CSS-editable stuff. 
	//Taken from http://stackoverflow.com/questions/11978995/how-to-change-color-of-svg-image-using-css-jquery-svg-image-replacement
	$('img.svg').each(function(){
		var $img = jQuery(this);
		var imgID = $img.attr('id');
		var imgClass = $img.attr('class');
		var imgURL = $img.attr('src');

		jQuery.get(imgURL, function(data) {
		    // Get the SVG tag, ignore the rest
		    var $svg = jQuery(data).find('svg');

		    // Add replaced image's ID to the new SVG
		    if(typeof imgID !== 'undefined') {
		        $svg = $svg.attr('id', imgID);
		    }
		    // Add replaced image's classes to the new SVG
		    if(typeof imgClass !== 'undefined') {
		        $svg = $svg.attr('class', imgClass+' replaced-svg');
		    }

		    // Remove any invalid XML tags as per http://validator.w3.org
		    $svg = $svg.removeAttr('xmlns:a');

		    // Replace image with new SVG
		    $img.replaceWith($svg);

		}, 'xml');
	});
	

	$('#add-piglets').click(function(){
		if (!($(this).hasClass("disabled"))){
			totalPigs = parseInt($('#male-piglets').val()) + parseInt($('#female-piglets').val());
			for (x = 0; x < totalPigs; x++) {
				$('#add-pig').click();	
			}
			var pigNums = 1;
			var maleCounter = 1;
			$('.nested-fields').each(function(){
				$(this).find('#pig-num').text("Pig " + pigNums++ + ":");
				if (maleCounter <= parseInt($('#male-piglets').val())) {
					$(this).find('select').val("M");
					maleCounter++;
				} else {
					$(this).find('select').val("F");
				}
			});
			$('select').material_select();
		}
		$(this).addClass('disabled');
		$('#submit-litter').attr("disabled", false);
	});
	$('#add-litter-form').on('cocoon:before-insert', function(e,pig_to_be_added) {
	    pig_to_be_added.fadeIn('slow');
	})
	.on('cocoon:after-insert', function(e, added_pig) {
	 	$('select').material_select();
	})
	.on('cocoon:before-remove', function(e, pig) {
		$(this).data('remove-timeout', 1000);
		pig.fadeOut('slow');
	});

  $('.modal-trigger').leanModal();
  $('select').material_select();
});

// DYNAMIC REMOVAL 


//DYNAMIC ADDING FOR DAILY LITTER
var counter = 4;
var limit = 20;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
         
          var dynamicdiv= document.createElement('div');
          dynamicdiv.setAttribute("class", "col s3");
          var div1 = document.createElement('div')
          div1.setAttribute("class", "row");
          div1.setAttribute("style", "margin-bottom:0px; margin-left:35px;");
          div1.innerHTML = "<h6 class='grey-text'>Piglet" + (counter+1) +" </h6>";
          var div2 = document.createElement('div');
          div2.setAttribute("class", "col s4 input-field");
          div2.innerHTML = "<input id='last_name' type='text' class='validate'>  <label for='last_name'>Sex</label>";
          var div3 = document.createElement('div');
		  div3.setAttribute("class", "col s4 input-field");
          div3.innerHTML = "<input id='last_name' type='text' class='validate'>  <label for='last_name'>Weight</label>";
          dynamicdiv.appendChild(div1);
          dynamicdiv.appendChild(div2);
          dynamicdiv.appendChild(div3);
          document.getElementById(divName).appendChild(dynamicdiv);
          counter++;
     }
}
