/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

/*NELSON CODE*/
::-webkit-scrollbar{width: 15px;}

::-webkit-scrollbar-thumb{background-color:rgb(120, 120, 120); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(100, 100, 100);}

::-webkit-scrollbar-track{background-color:rgb(200, 200, 200);}


/*-----------*/

@import "materialize";

@font-face {
	font-family: "Source";
	src: url('fonts/SourceItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Source";
	src: asset-url('SourceRegular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Source";
	src: asset-url('SourceSemibold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Source";
	src: asset-url('SourceBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
	font-family: 'Source';	
}

body {
	background-color: #f5f5f5;
}

header, main, footer {
	padding-left: 100px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

/* 
#navbar-top {
	font-size: 16px;

	a {
		letter-spacing: 5px;
		font-weight: 700;
		font-size: 16px;
	}

	li a {
		font-style: italic;
		letter-spacing: 0px!important;
		font-size: 16px;
	}
}
 */


#sidebar {
	z-index:10;
	li{
		font-size: 1em;
		height: 100px;
		letter-spacing: 1.9px;
		display: flex;
		align-items: center;
	}
	a{
		padding: 0;
		width: 100%;
		height: 100%;
		display:-webkit-box; /*old prefixed for webkit*/
		display:-moz-box; /*old prefixed for mozilla*/
		display:-ms-flexbox; /*inbetween prefixed for ie*/
		display:-webkit-flex; /*new prefixed for webkit*/
		display:flex; /*new*/
		align-items: center;
		justify-content: center;
	}
	.hi {
		vertical-align: middle;
	}

	//add .nohover to active tab class, this prevents hover css rules on active dashboad tabs
	li:not(.nohover):hover {
		@extend .blue-grey, .darken-3;
		
	}
	a:not(.nohover):hover {
		@extend .blue-grey, .darken-3;
		color:white!important;
		transition: .3s;
	}

	.sidebar-header {

		&:not(.nohover):hover {
			//check materializecss.com/colors.html on how to do this
			@extend .blue-grey, .darken-4, .blue-grey-text, .text-lighten-3;
		}
	}

	.sidebar-active {
		background-color: #3F525B;

		a {
			font-weight: bold;
			color: white!important;
		}
	
		.svg path {
			fill: white!important;
		}

		p {
			font-weight: bold;
		}
	}
}
.side-nav {
	width: 100px;
	a {
		line-height: 1em;
		font-size: 0.8em;
		svg {
			height: 30px;
			width: auto;
			margin-bottom: 5px;
			vertical-align: center;
		}
		p {
			padding: 0;
			margin: 0;
			font-family: "Source";
			font-weight: normal;
		}
	}
}

main {
	#logo {
		width: 280px;
		margin-left: 30px;
		float:left;
		padding-right: 30px;
		border-right: 2px solid #3F525B;
		margin-right: 30px;
	}
	.fixed {
		position: fixed;	
		padding-left: 115px;
		padding-right: 15px;
		padding-top: 15px;
		top: 0;
		right: 0;
		background: #f5f5f5; 
		width: 100%;
		z-index: 9;
		.btn {margin-left: 30px;}
		h5 {
			color: #3F525B;
			font-family: "Source";
			font-weight: normal;
			font-size: 1.64rem;
		}
		.header a:not(.btn) {
			color: lighten(#3F525B, 30%);
			font-family: "Source";
			font-weight: normal;
			font-size: 1.64rem;
			&:hover {color: #3F525B;}
		}
		.separator {margin-left: 10px; margin-right: 10px;}

		.valign-wrapper .dropdown-content li {
			display: flex;
			align-items: center;
		    justify-content: center; 
		    height: 100%; 
		}
		.dropdown-content {
			margin-left:30px;
		}
	}
	.data {
		margin-top: 90px;
		z-index: 7;
		margin-bottom: 100px;
	}
	.data-withtabs {
		margin-top: 130px;
		z-index: 7;
		margin-bottom: 100px;
	}
	a {float:right ;}
}

.input-form {
	label {
		color: #6e6e6e;
		font-size: 1em;
	}
	h6 {
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	input:focus:not([readonly]) {
		border-bottom: 1px solid #263238;
		box-shadow: 0 1px 0 0 #263238;
	}
	input[type="submit"]:not([disabled]) {
		@extend .deep-orange, .darken-2;
	}
	#warning-piglets {
		@extend .deep-orange-text, .text-darken-2;
		font-size: 1.4em;
	}
}

#login-form {
	margin-top: 50px;
	input[type="submit"] { margin-top: 30px;}
}

.error {
	font-size: 1em;
	@extend .deep-orange-text, .text-darken-2;
}


.headcounts {
	@extend .blue-grey, .darken-4, .white-text;
	padding: 6px;
	margin-right: 15px;
	width: 30px;
}

.text-bold {
	font-weight: bold;
}

// pig modal 
.M {
	background-color: #e0f7fa;
}
.F {
	background-color:  #fce4ec;
}
.modal { width: 45vw !important  } 

.nofloat-a {
	td.left-align > a {float: none!important;}
}

