// Place all the styles related to the litters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-piglets {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#litterform {
	.divider {
		margin-bottom: 30px;
	}
}

.center-align.btn {
	float: none;
}

.pig-divider {
	margin-bottom: 30px;
}

#ear {
	color: lighten(#3F525B, 30%);
	font-weight: normal;
}

