<div class='row'>
	<div class='col s5'>
		<%= p.input :ear_notch_number %>
	</div>
	<div class='col s3'>
		<%= p.input :sex %>
	</div>
	<div class='col s4'>
		<%= p.input :birth_weight %>
	</div>
	<%= link_to_remove_association "remove pig", f %>
</div>